<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rainyshinycloudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>158D813C1EF18D8000B84C91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158D81501EF18D8000B84C91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158D815B1EF18D8000B84C91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
